/* General --------------------------------------------------------------------- */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Typography */
  
  h1,
  h2,
  h3,
  h4 {
    color: #000;
    font-weight: 400;
  }
  
  h1 {
    font-size: 4.209rem;
    letter-spacing: -1.5px;
  }
  
  h2 {
    font-size: 2.369rem;
  }
  
  h3 {
    font-size: 1.777rem;
  }
  
  h4 {
    font-size: 1.333rem;
  }
  
  /* Misc */
  
  body {
    background-color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  
  html {
    font-size: 16px;
  }
  
  /* Navigation Bar ------------------------------------------------------------------------------------------------------------------------------------- */
  
  .navbar {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    white-space: nowrap;
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
  }
  
  .about-margin {
    margin-left: 6rem;
  }
  
  .work-margin {
    margin-left: 6rem;
  }
  
  .pressed {
    opacity: 50%;
  }
  
  
  /* Navigation Bar Dots */
  
  .work-letter,
  .about-letter {
    position: relative;
    display: inline-block;
  }
  
  .work-letter::after,
  .about-letter::after {
    content: "";
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    bottom: 0.37rem;
    opacity: 0;
  }
  
  .navbar a:hover .work-letter::after {
    background-color: #0078FC;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
  
  .navbar a:hover .about-letter::after {
    background-color: #FF6A59;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
  
  
  /* Hero ------------------------------------------------------------------------------------------------------------------------------------------- */
  
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 40.625rem;
    margin: auto;
  }
  
  .hero h1 {
    margin-top: 20%;
    margin-bottom: 5%;
  }
  
  .greeting,
  .intro-blurb {
    opacity: 0;
    transform: translateY(1rem);
    animation: fadeInUp 0.6s forwards;
    animation-delay: 0.5s;
  }
  
  .intro-blurb {
    animation-delay: 1.7s;
    min-width: 22.5em;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(1.25rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  /* Dot Bounce Animation */
  
  .dot-1,
  .dot-2 {
    position: relative;
    display: inline-block;
  }
  
  .dot-1::after,
  .dot-2::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    bottom: 0.4rem;
    opacity: 0;
  }
  
  .intro-blurb.autodot .dot-1::after,
  .intro-blurb:hover .dot-1::after {
    background-color: #0078FC;
  }
  
  .intro-blurb.autodot .dot-2::after,
  .intro-blurb:hover .dot-2::after {
    background-color: #FF6A59;
  }
  
  .intro-blurb.autodot .dot-1::after,
  .intro-blurb:hover .dot-1::after,
  .intro-blurb.autodot .dot-2::after,
  .intro-blurb:hover .dot-2::after {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    animation: moveUp 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, fadeOut 2s ease-in 1s forwards;
    animation-delay: 0.4s;
  }
  
  @keyframes moveUp {
    0% {
      transform: translate(-50%, 0);
    }
  
    30% {
      transform: translate(-50%, -2.5rem);
    }
  
    40% {
      transform: translate(-50%, -1.875rem);
    }
  
    50% {
      transform: translate(-50%, -2.1875rem);
    }
  
    55% {
      transform: translate(-50%, -1.875rem);
    }
  
    100% {
      transform: translate(-50%, -1.875rem);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
  
    90% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  
  /* Dashed Line Animation */
  
  .line-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dashed-line {
    margin-left: -55.5%; 
    margin-bottom: 0.4rem;
  }
  
  .autoline .dashed-line__path,
  .intro-blurb:hover .dashed-line__path {
    animation: dashed-line-path 600ms ease-in forwards, dashed-line-fadeOutPath 1.2s ease-in 1s forwards;
    animation-delay: 1.2s;
    fill: none;
    stroke: #B4B4B4;
    stroke-dasharray: 11.8125rem;
    /* This is the length of the line */
    stroke-dashoffset: 11.8125rem;
    /* This is the length of the line */
    stroke-width: 0.4rem;
    /* Adjust the stroke width as needed */
  }
  
  .dashed-line__dash {
    fill: none;
    stroke: #FFFFFF;
    stroke-dasharray: 0.125rem 0.5rem;
    ;
    /* Draws a 0.5rem dash line with a 0.125rem gap between */
    stroke-width: 0.5rem;
    /* Make the dashed line slightly bigger than the one it's covering */
  }
  
  @keyframes dashed-line-path {
    from {
      stroke-dashoffset: 11.8125rem;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dashed-line-fadeOutPath {
    0% {
      stroke-opacity: 1;
    }
  
    90% {
      stroke-opacity: 1;
    }
  
    100% {
      stroke-opacity: 0;
    }
  }

  /* Mobile Media Query ------------------------------------------------------------------------------------------------------------- */

@media (max-width: 600px) {

    /* Typography ----------------------------------------------------- */
  
    h1 {
      font-size: 2.369rem;
    }
  
    h2 {
      font-size: 1.777rem;
    }
  
    h3 {
      font-size: 1.333rem;
    }
  
    h4 {
      font-size: 1rem;
    }
  
  
    /* Navigation Bar ------------------------------------------------- */
  
    .logo {
      width: 3.75rem;
    }
  
    .navbar {
      margin: 2rem;
    }
  
    .about-margin {
      margin-left: 1.5rem;
    }
  
    .work-margin {
      margin-left: 2.5rem; 
    }
  
    /* Disable Hover Effects */
    .navbar a:hover .work-letter::after,
    .navbar a:hover .about-letter::after {
      background-color: transparent;
      opacity: 0;
    }
  
  
    /* Hero ------------------------------------------------------- */
  
    .hero h3 {
      margin: 0.5rem 2rem 2rem 2rem;
    }
  
  
    /* Dot Bounce Animation */
    .dot-1::after,
    .dot-2::after {
      width: 0.77rem;
      height: 0.77rem;
      bottom: 0.27rem;
    }
  
    @keyframes moveUp {
      0% {
        transform: translate(-50%, 0);
      }
  
      30% {
        transform: translate(-50%, -1.75rem);
      }
  
      40% {
        transform: translate(-50%, -1.3125rem);
      }
  
      50% {
        transform: translate(-50%, -1.53125rem);
      }
  
      55% {
        transform: translate(-50%, -1.3125rem);
      }
  
      100% {
        transform: translate(-50%, -1.3125rem);
      }
    }

    .dashed-line {
        margin-left: -43%; /* Adjust this value as needed */
        margin-bottom: -0.3rem;
    }

    .autoline .dashed-line__path,
    .intro-blurb:hover .dashed-line__path {
        stroke-dasharray: 6rem; /* Adjust this value as needed */
        stroke-dashoffset: 6rem; /* Adjust this value as needed */
        stroke-width: 0.3125rem;
    }

}