/* General --------------------------------------------------------------------- */

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
  font-weight: 400;
}

h1 {
  font-size: 4.209rem;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 2.369rem;
}

h3 {
  font-size: 1.777rem;
}

h4 {
  font-size: 1.333rem;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  margin: 0em 0em 1.5em 0em;
}

/* Miscellaneous */

body {
  background-color: #FFFFFF;
  font-family: 'Figtree', sans-serif;
  width: 100%;
  height: 100%;
}


/* Navigation Bar ------------------------------------------------------------------------------------------------------------------------------------- */

.navbar {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 4rem;
  height: 10vh;
  min-height: 120px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
}

.logo {
  min-width: 56px; 
  height: auto;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar li {
  white-space: nowrap;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.about-margin {
  margin-left: 6rem;
}

.work-margin {
  margin-left: 6rem;
}

.pressed {
  opacity: 50%;
}

/* Navigation Bar Dots */

.work-letter,
.about-letter {
  position: relative;
  display: inline-block;
}

.work-letter::after,
.about-letter::after {
  content: "";
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  bottom: 0.37rem;
  opacity: 0;
}

.navbar a:hover .work-letter::after,
.navbar a:hover .about-letter::after {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.navbar a:hover .work-letter::after {
  background-color: #0078FC;
}

.navbar a:hover .about-letter::after {
  background-color: #FF6A59;
}


/* Landing Page ------------------------------------------------------------------------------------------------------------------------------------------- */

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 40.625rem;
  margin: auto;
  height: 80vh;
  min-height: 650px;
  justify-content: center;
}

.hero h1 {
  margin-bottom: 20px;
}

.greeting,
.intro-blurb {
  opacity: 0;
  transform: translateY(1rem);
  animation: fadeInUp 0.5s forwards;
  animation-delay: 0.4s;
}

.intro-blurb {
  animation-delay: 1.2s;
  min-width: 22.5rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1.25rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Dot Bounce Animation */

.dot-1,
.dot-2 {
  position: relative;
  display: inline-block;
}

.dot-1::after,
.dot-2::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 0.38rem;
  opacity: 0;
  z-index: 5;
}

.intro-blurb.autodot .dot-1::after,
.intro-blurb:hover .dot-1::after {
  background-color: #0078FC;
}

.intro-blurb.autodot .dot-2::after,
.intro-blurb:hover .dot-2::after {
  background-color: #FF6A59;
}

.intro-blurb.autodot .dot-1::after,
.intro-blurb:hover .dot-1::after,
.intro-blurb.autodot .dot-2::after,
.intro-blurb:hover .dot-2::after {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  animation: moveUp 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, fadeOut 2s ease-in 1s forwards;
  animation-delay: 0.4s;
  z-index: 5;
}

@keyframes moveUp {
  0% {
    transform: translate(-50%, 0);
  }

  30% {
    transform: translate(-50%, -2.5rem);
  }

  40% {
    transform: translate(-50%, -1.875rem);
  }

  50% {
    transform: translate(-50%, -2.1875rem);
  }

  55% {
    transform: translate(-50%, -1.875rem);
  }

  100% {
    transform: translate(-50%, -1.875rem);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Dashed Line Animation */

.line-container {
  display: flex;
  position: relative;
  top: 4px;
  left: 68px;
  max-width: 150px;
  justify-content: center;
  align-items: center;
}

.blurb-container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

.dashed-line {
  width: 100%;
  height: auto;
}

.autoline .dashed-line__path,
.intro-blurb:hover .dashed-line__path {
  animation: dashed-line-path 600ms ease-in forwards, dashed-line-fadeOutPath 1.2s ease-in 1s forwards;
  animation-delay: 1.2s;
  fill: none;
  stroke: #B4B4B4;
  stroke-dasharray: 150px;
  /* This is the length of the line */
  stroke-dashoffset: 150px;
  /* This is the length of the line */
  stroke-width: 5px;
  /* Adjust the stroke width as needed */
}

.dashed-line__dash {
  fill: none;
  stroke: #FFFFFF;
  stroke-dasharray: 3 7;
  /* Draws a 7px dash line with a 3px gap between */
  stroke-width: 7;
  /* Make the dashed line slightly bigger than the one it's covering */
}

@keyframes dashed-line-path {
  from {
    stroke-dashoffset: 150px;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dashed-line-fadeOutPath {
  0% {
    stroke-opacity: 1;
  }

  90% {
    stroke-opacity: 1;
  }

  100% {
    stroke-opacity: 0;
  }
}

/* Arrow SVG */

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  position: relative;
}

.arrow-icon {
  position: absolute;
  animation: moveUpDown 0.6s linear infinite alternate;
  transform-origin: center;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0.375rem);
  }
}

/* Container for All Projects */

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

/* Container for Thumbnail Text and Image */

.thumbnail-content {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 4rem;
  justify-content: center;
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 0.6s, transform 0.6s;
  border-radius: 0.5rem;
}

#ripple-and-surge-thumbnail {
  background-color: #E7E7E7;
}

#pivot-thumbnail {
  background-color: #9FCFFF;
}

.thumbnail-content img {
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
  height: auto;
  max-width: 35%;
  min-width: 420px;
  height: auto;
}

.thumbnail-content:hover img {
  transform: scale(1.05);
}

/* Thumbnail Text */

.thumbnail-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 31.25rem;
}

.thumbnail-subheader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  text-transform: uppercase;
}

.thumbnail-headline-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  align-self: stretch;
  max-width: 400px;
}

/* Footer -------------------------------------------------------------------------------------------*/

footer {
  display: flex;
  margin: 6rem 6rem 3rem 6rem;
  text-align: center;
  justify-content: center;
}


/* Project Pages -------------------------------------------------------------------------------------*/

/* Project Header */

.project-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  max-width: 1150px;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.introduction-image {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: block;
  border: 2px solid #B4B4B4;
  border-radius: 3px;
}

/* Project Body Text Formatting*/

.case-study-section {
  display: grid;
  grid-template-columns: 180px 2px 522px;
  column-gap: 1rem;
  justify-content: center;
  align-items: start;
  padding: 2.5rem 0rem;
  margin-left: 2rem;
  margin-right: 2rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 1s ease;
}

.section-title {
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: right;
  font-size: x-large;
  font-weight: 700;
  grid-column: 1 / 2;
  margin-top: 0rem;
  text-wrap: wrap;
}

.section-subtitle {
  text-transform: uppercase;
  font-size: larger;
  text-align: right;
  font-weight: 700;
  grid-column: 1 / 2;
}

.case-study-content {
  grid-column: 3;
  align-items: start;
  line-height: 125%;
}

.case-study-section p:last-child {
  margin-bottom: 0;
}

.section-margin {
  margin-bottom: 2rem;
}

.line-divider {
  background-color: #B4B4B4;
  grid-column: 2;
  height: 100%;
}

#return-to-top {
  display: inline-block;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 99;
  cursor: pointer;
}

/* Pivot */

#pivot h1,
#pivot .section-title {
  color: #0466C8;
}

#pivot .section-subtitle {
  color: #00328F;
}

#pivot .accent-text {
  color: #0466C8;
  font-size: 1.333rem;
  font-weight: 700;
}

/* Ripple and Surge */

#ripple-and-surge h1,
#ripple-and-surge .section-title {
  color: #A0653B;
}

#ripple-and-surge .section-subtitle {
  color: #C88051;
}

/* Images and Videos */

.case-study-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 900px;
  border: 2px solid #B4B4B4;
  border-radius: 3px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 1s ease;
}

.bottom-media-padding {
  margin-bottom: 2.5rem;
}

.accent-circle-container {
  flex-direction: column;
  display: flex;
  width: 100%;
  flex: 1;
  gap: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.accent-circle-container {
  margin-top: 0;
  margin-bottom: 0;
}

.accent-circle-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.accent-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1.333rem;
}

#pivot .accent-circle {
  background-color: #0466C8;
}

#ripple-and-surge .accent-circle {
  background-color: #A0653B;
}

.accent-circle-text-container {
  flex: 1;
}

.case-study-video-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 2rem;
}

.case-study-video {
  width: 80%;
  height: auto;
  border: 2px solid #DBDBDB;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}


/* About Me ----------------------------------------------------------------------------------------------*/

.sentence {
  font-size: 4.209rem;
  letter-spacing: -1.5px;
}


/* Typing Effect */

.typing-container {
  margin: 2rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#feature-text {
  margin-left: 12px;
  font-size: 4.209rem;
  letter-spacing: -1.5px;
}

.input-cursor {
  display: inline-block;
  width: 4px;
  height: 4.209rem;
  background-color: #000;
  margin-left: 0px;
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* Body Text */

.body-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: calc(100% - 4rem);
  margin: auto;
}

.trait-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 48px;
  margin: 2rem 2rem;
}

.trait-container {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  gap: 24px;
  align-items: center;
}

.trait-header {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
  color: #0078FC;
}

.trait-text {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  flex: 60%;
}

.hobbies {
  list-style-position: inside;
}

/* Images */

.svg-wrapper {
  display: flex;
  width: 15%;
  height: auto;
  align-items: center;
  flex-shrink: 8;
}

.profile-pic {
  display: block;
  width: 100%;
  height: auto;
}

.picture-container {
  position: relative; 
  max-width: 350px;
}

.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px; 
  margin: auto;
  margin: 2rem auto 3rem auto;
}

/* Circle Dashed Line Effect */

.circular-progress {
  --size: 400px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 7px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  animation: progress-animation 0.5s linear 0s 1 forwards;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: square;
}

.circular-progress circle.circle-mask {
  stroke: #FFFFFF;
  stroke-dasharray: calc(var(--circumference)/120) calc(var(--circumference)/40);
  stroke-width: 10px;
}

.circular-progress circle.circle-fill {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: #5394fd;
}

@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@keyframes progress-animation {
  from {
    --progress: 0;
  }

  to {
    --progress: 99;
  }
}



/* Mobile Media Query ------------------------------------------------------------------------------------------------------------- */

@media (max-width: 600px) {

  /* Typography ----------------------------------------------------- */

  html {
    font-size: 14px;
  }

  h1 {
    font-size: 2.369rem;
  }

  h2 {
    font-size: 1.777rem;
  }

  h3 {
    font-size: 1.333rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.82rem;
  }


  /* Navigation Bar ------------------------------------------------- */

  .logo {
    max-width: 2.5rem;
  }

  .navbar {
    margin: 2rem;
    min-height: 64px;
  }

  .about-margin {
    margin-left: 1.5rem;
  }

  .work-margin {
    margin-left: 2.5rem;
  }

  /* Disable Navbar Hover Effects */

  .navbar a:hover .work-letter::after,
  .navbar a:hover .about-letter::after {
    background-color: transparent;
    opacity: 0;
  }

  .work-letter::after,
  .about-letter::after {
    display: none;
  }


  /* Hero ------------------------------------------------------- */

  .hero {
    min-height: 80vh;
  }

  .hero h3 {
    margin: 0rem 2rem;
    max-width: 258px;
  }

  /* Dot Bounce Animation */

  .dot-1::after,
  .dot-2::after {
    width: 10px;
    height: 10px;
    bottom: 4.4px;
  }

  @keyframes moveUp {
    0% {
      transform: translate(-50%, 0);
    }

    30% {
      transform: translate(-50%, -1.75rem);
    }

    40% {
      transform: translate(-50%, -1.3125rem);
    }

    50% {
      transform: translate(-50%, -1.53125rem);
    }

    55% {
      transform: translate(-50%, -1.3125rem);
    }

    100% {
      transform: translate(-50%, -1.3125rem);
    }
  }

  /* Dashed Line Animation */

  .line-container {
    top: 4px;
    left: 70px;
    max-width: 100px;
  }

  /* Arrow SVG */

  .arrow-container {
    height: 15rem;
  }

  .background-circle,
  .arrow-icon {
    width: 45px;
    height: 56px;
  }


  /* Landing Page Projects --------------------------------------------------------------------------- */

  .project-container {
    margin: 2rem;
  }

  .thumbnail-content {
    padding: 3rem;
  }

  .thumbnail-subheader {
    gap: 0.45rem;
  }

  .dot-divider {
    width: 5px;
    height: 6px;
  }

  .thumbnail-content img {
    transition: none;
    transform: none;
    max-width: 100%;
    min-width: 180px
  }

  .thumbnail-content:hover img {
    transform: none;
  }

  /* Pivot */

  #pivot-thumbnail img {
    order: 1;
  }

  #pivot-thumbnail .thumbnail-text-container {
    order: 2;
  }

  /* Project Pages ---------------------------------------------------------*/

  .project-header {
    max-width: 544px;
    margin: 1.5rem 2rem;
  }

  .introduction-image {
    width: 100%;
    height: auto;
    min-width: 264px;
  }

  .case-study-section {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1.5rem 0;
  }

  .case-study-image {
    width: calc(100% - 4rem);
  }

  .section-title {
    width: 100%;
    font-size: 16px;
    margin-bottom: 0.75rem;
    border-bottom: 2px solid #B4B4B4;
    padding-bottom: 4px;
    text-align: left;
  }

  .section-subtitle {
    font-size: 14px;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  .section-margin {
    margin-bottom: 2rem;
  }

  .accent-circle {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }

  .bottom-media-padding {
    margin-bottom: 1.5rem;
  }

  #pivot .accent-text {
    font-size: 1.00rem;
  }

  /* About Me ---------------------------------------------------------*/

  .sentence {
    font-size: 2.369rem;
  }

  #feature-text {
    margin-left: 8px;
    font-size: 2.369rem;
  }

  .input-cursor {
    width: 3px;
    height: 2.369rem;
  }

  .typing-container {
    margin: 2rem 2rem;
  }

  img[src="img/Small Screaming Crow.png"] {
    max-width: 38px;
  }

  .trait-section {
    gap: 16px;
  }

  .profile-pic {
    max-width: 250px;
  }
  
  .picture-container {
    position: relative; 
    max-width: 350px;
  }
  
  .profile-container {
    width: 275px;
    height: 275px; 
    margin: 2rem auto 3rem auto;
  }

}


/* Tablet Media Query ------------------------------------------------------------------------------------------------------------- */

@media (max-width: 1270px) and (min-width: 601px) {

  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2.369rem;
  }

  h2 {
    font-size: 1.777rem;
  }

  h3 {
    font-size: 1.333rem;
  }

  h4 {
    font-size: 1.333rem;
  }

  h5 {
    font-size: 1rem;
    font-weight: 500;
  }


  /* Navigation Bar ------------------------------------------------- */

  .logo {
    max-width: 4rem;
  }

  .navbar {
    margin: 2rem 3rem;
    min-height: 100px;
  }

  .about-margin {
    margin-left: 4rem;
  }

  .work-margin {
    margin-left: 2.5rem;
  }

  /* Disable Navbar Hover Effects */

  .navbar a:hover .work-letter::after .navbar a:hover .about-letter::after {
    background-color: transparent;
    opacity: 0;
  }

  .work-letter::after,
  .about-letter::after {
    display: none;
  }

  /* Hero ------------------------------------------------------- */

  .hero {
    min-height: 80vh;
  }

  .hero h3 {
    margin: 0rem 1rem 2rem 1rem;
  }

  .intro-blurb {
    max-width: 500px;
  }

  /* Dot Bounce Animation */

  .dot-1::after,
  .dot-2::after {
    width: 12px;
    height: 12px;
    bottom: 4px;
  }

  @keyframes moveUp {
    0% {
      transform: translate(-50%, 0);
    }

    30% {
      transform: translate(-50%, -1.75rem);
    }

    40% {
      transform: translate(-50%, -1.3125rem);
    }

    50% {
      transform: translate(-50%, -1.53125rem);
    }

    55% {
      transform: translate(-50%, -1.3125rem);
    }

    100% {
      transform: translate(-50%, -1.3125rem);
    }
  }

  /* Dashed Line Animation */

  .line-container {
    top: 5px;
    left: 56px;
    max-width: 115px;
  }

  /* Arrow SVG */

  .arrow-container {
    height: 15rem;
  }


  /* Landing Page Projects --------------------------------------------------------------------------- */

  .project-container {
    margin: 3rem;
  }

  .project-subheader {
    gap: 0.75rem;
  }

  .dot-divider {
    width: 8px;
    height: 8px;
  }

  .thumbnail-content img {
    transition: none;
    transform: none;
    max-width: 60%;
    min-width: 420px;
    height: auto;
  }

  .thumbnail-content:hover img {
    transform: none;
  }

  /* Pivot */

  #pivot-thumbnail img {
    order: 1;
  }

  #pivot-thumbnail .thumbnail-text-container {
    order: 2;
  }

  /* Project Pages ------------------------------------------------------ */

  .project-header {
    margin: 0rem 3rem;
    max-width: 1174px;
    padding-bottom: 2rem;
  }

  .case-study-section {
    grid-template-columns: 124px 2px minmax(345px, 500px);
    padding: 2rem 0;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .section-title {
    font-size: 18px;
  }

  .section-subtitle {
    font-size: 16px;
  }

  .case-study-image {
    width: calc(100% - 4rem);
  }

  .bottom-media-padding {
    margin-bottom: 2rem;
  }
}