/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General*/
body{
  background-color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
}

/* Typography */
h1 {
  color: #000;
  font-size: 67.34px;
  font-weight: 400;
}

h3 {
  color: #000;
  font-size: 28.43px;
  font-weight: 400;
}

/* Navigation Bar */

.logo {
  max-height: 74px;
  float: left;
}

.navbar {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: auto;
}

.navbar li {
  padding: 48px;
}

.navbar a {
  text-decoration: none;
  color: black;
  position: relative;
}

/* Navigation Bar - About and Work*/

.about-letter, .work-letter {
  display: inline-block;
}

.about-letter::after, .work-letter::after {
  content: "";
  position: absolute;
  width: 23.5px;
  height: 23.5px;
  border-radius: 50%;
  bottom: 8px;
  opacity: 0;
  transition: background-color 0.1s;
}

.navbar a:hover .about-letter::after {
  background-color: #0078FC;
  left: 50%;
  transform: translateX(-45%);
  opacity: 1;
}

.navbar a:hover .work-letter::after {
  background-color: #FF6A59;
  left: 50%;
  transform: translateX(-65%);
  opacity: 1;
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 650px;
  margin: auto;
}

.hi-rebecca {
  opacity: 0; 
  transform: translateY(16px);
  animation: fadeInUp 0.6s forwards;
  animation-delay: 0.5s;
}

.ux-designer {
  opacity: 0; 
  transform: translateY(40px); 
  animation: fadeInUp 0.6s forwards; 
  animation-delay: 1700ms; 
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Rebecca {
  font-weight: 700;
}

.arrow {
  transform: scale(15%);
  display: block;
  margin: -8rem auto;
}

.hero h1 { /* Adjust the space between the hero */
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.hero h3 {
  margin: top 2rem;
}

/* Hero - Dot and Line Animation*/
.dot-1, .dot-2 {
  position: relative;
  display: inline-block;
}

.dot-1::after, .dot-2::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 8px;
  opacity: 0;
  transition: background-color 0.1s; 
}

.ux-designer:hover .dot-1::after {
  background-color: #0078FC;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  animation: moveUp 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: 0.4s;
}

.ux-designer:hover .dot-2::after {
  background-color: #FF6A59;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  animation: moveUp 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: 0.4s;
}


@keyframes moveUp {
  0% {
    transform: translate(-50%, 0);
  }
  30% {
    transform: translate(-50%, -40px);
  }
  40% {
    transform: translate(-50%, -30px);
  }
  50% {
    transform: translate(-50%, -35px);
  }
  55% {
    transform: translate(-50%, -30px);
  }
  100% {
    transform: translate(-50%, -30px);
  }
}

/* TEST */
.animated-line {
  width: 100%;
  height: 6px;
  overflow: hidden;
  position: relative;
}

.animated-line::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: black;
  animation: drawLine 2s ease-in forwards;
}

@keyframes drawLine {
  0% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}